.Welcome {
    background-color: rgb(19, 115, 143);
    text-align: center;
    color: white;
    width: 1260px;
    height: 50px;
    text-transform: uppercase;
    border-spacing: 1px;

}

.Permanent {
    background-color: rgb(0, 2, 5);
    font-weight: bolder;
    font-size: x-large;
    height: 20%;
    width: 20%;
}

.Main {
    font-size: 50px;

}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: rgb(19, 5, 3);
    text-decoration: underline;

}

a:focus {
    color: gold;
}


td:hover {
    background-color:rgb(12, 197, 253);
}

.subtitle {
    background-color: rgb(19 115 143);
    text-align: center;
    text-transform: uppercase;
    width: 1260px;
    font-size: 50px;
    font-weight: bolder;
    color: white;

}
.subtable{
    
    background-color: rgb(15, 15, 15);
    text-align: center;
    color: white;
    width: 500px;
    height: 100px;
    text-transform: uppercase;
    border-spacing: 1px;
    font-size: xx-large;
}